body{
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    background: white;
    background: linear-gradient(#ff9966, #ffcc99); 
    padding-top: 10%;
}


ul{
	margin-left: auto;
    margin-right: auto;
}
.form-greeting-logo{
	font-family: 'Lobster', sans-serif;
	text-align: center;
	font-size: 500%;
	color: black;
	margin-top: 15%;
	margin-bottom: 10%;
}

.form-signup-logo{
	font-family: 'Lobster', sans-serif;
	text-align: center;
	font-size: 300%;
	color: black;
	margin-top: 15%
}

.form-signup-heading{
	text-align: center;
	margin-top: 10%;
	margin-bottom: 10%;
}

.form-signin-logo{
	font-family: 'Lobster', sans-serif;
	text-align: center;
	font-size: 300%;
	color: black;
	margin-top: 15%;
}

.form-signin-heading{
	text-align: center;
	margin-bottom: 20%;
	margin-top: 10%;
}

.form-home-logo{
	font-family: 'Lobster', sans-serif;
	text-align: center;
	font-size: 300%;
	color: black;
	margin-top: 15%;
}

.form-home-heading{
	text-align: center;
	margin-top: 10%;
	margin-bottom: 10%;
}

.form-pref-heading{
	text-align: center;
	font-size: 150%
	margin-bottom: 60%;
	margin-top: 2%;
	font-weight: 300;
}

.form-pref-ques{
	text-align: left;
	font-size: 150%
	margin-bottom: 5%;
	margin-top: 10%;
	font-weight: 300;
}

.form-pref-body{
	text-align: left;
	font-size: 100%
	margin-bottom: 5%;
	margin-top: 5%;
	font-weight: 100;
}

input{
	margin-bottom: 7%;
	margin-top: 7%;
}

.header-font{
	font-family: 'Lobster', sans-serif;
	text-align: center;
	font-size: 300%;
	color: black;
	margin-top: 15%
}

.btn-primary{
	display:inline-block;
	margin-top: 7%;
	box-shadow: 2px 2px 4px #000000;
	color: black;
	background-color: white;
	border-radius: 24px;
	border-color: black;
	border-width: 2px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: black;
    border-color: #285e8e; /*set the color you want here*/

}

.btn-link{
	color: black;
}

.current-location{

}

.form-control:focus {
	border-color: white;
	box-shadow: inset 0 1px 1px white, 0 0 8px black;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}

.btn-icon{
	margin-bottom: 3%;
	margin-right: 2%;
}

.icon-group{
	text-align: center;
}

.dropdown{
	position: relative;
}

.dropdown-menu{
	display: none;
	position: absolute;
}

.dropdown-menu a{
	display: block;
	text-decoration: none;
}
.show{
	display:block;
}