html, body {
     height: 100%;
}


body{
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    background: linear-gradient(#99ddff, #0099e6);
    padding-top: 10%;
    background-attachment:fixed;
}

ul{
	margin-left: auto;
    margin-right: auto;
}

.open .dropdown-menu{
	display:block;
}

.greeting-logo{
	margin-top: 23%;
	margin-bottom: 5%;
}

.greeting-tagline{
	margin: none;
	color: #262626;
	font-weight: 200;
	font-size: 100%
}

.form-greeting-logo{
	font-family: 'Lobster', sans-serif;
	text-align: center;
	font-size: 500%;
	color: black;
	margin-top: 15%;
	margin-bottom: 10%;
}

.form-signup-logo{
	font-family: 'Lobster', sans-serif;
	text-align: center;
	font-size: 300%;
	color: black;
	margin-top: 15%
}

.form-signup-heading{
	text-align: center;
	margin-top: 5%;
	margin-bottom: 10%;
	font-weight: 200;
	font-size: 110%
}

.terms{
	color: #f4f4f4;
	font-size:small;
	font-weight:100;
}

.terms em{
	color: white;
}

.signup-inputs{
	background: Transparent;
}

.form-signin-logo{
	color: black;
	margin-top: 20%;
}

.form-signin-heading{
	text-align: center;
	margin-bottom: 20%;
	margin-top: 10%;
	font-weight: 200;
	font-size:110%;
}

.form-home-logo{
	font-family: 'Lobster', sans-serif;
	text-align: center;
	font-size: 300%;
	color: black;
	margin-top: 15%;
}

.form-home-heading{
	text-align: center;
	margin-top: 10%;
	margin-bottom: 10%;
}

.form-pref-heading{
	text-align: center;
	font-size: 150%;
	margin-bottom: 60%;
	margin-top: 2%;
	font-weight: 300;
}

.form-pref-ques{
	text-align: center;
	font-size: 150%;
	margin-bottom: 5%;
	margin-top: 10%;
	font-weight: 300;
}

.form-pref-body{
	text-align: left;
	font-size: 100%;
	margin-bottom: 5%;
	margin-top: 5%;
	font-weight: 100;
}

input{
	margin-bottom: 7%;
	margin-top: 7%;
}

.header-font{
	font-family: 'Lobster', sans-serif;
	text-align: center;
	font-size: 300%;
	color: black;
	margin-top: 15%
}

.btn-primary{
	display:inline-block;
	margin-bottom: 2%;
	margin-top: 7%;
	font-weight: 200;
	color: #262626;
	background-color: Transparent;
	border-color: white;
	width: 70%;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #262626;
    border-color: #262626;
}

.btn-link{
	color: black;
	font-weight: 200;
	text-align: center;
}

.btn-color{
	background-color: #66ccff;
	border-color: white;
}

.form-control:focus {
	border-color: white;
	box-shadow: inset 0 1px 1px white, 0 0 8px black;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}

.btn-icon{
	margin-bottom: 3%;
	margin-right: 2%;
}

.icon-group{
	text-align: center;
}

input[type=event]{
	margin-top: 10%;
	text-align: center;
    color: black;
    background: none;
    border-bottom: black;
    font-size: 300%;
    height:inherit;
	border: 1px solid black;
}

.dropdown-menu{
	margin-bottom: 0%;

}

.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}

input[type="signup"]
{
    background: transparent;
    border: none;
  	border-bottom: 1px solid white;
  	box-shadow: hidden;
  	color: black;
  	padding: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input::-webkit-input-placeholder {
	color: #eeeeee !important;
	font-weight: 200;
}

input:-moz-placeholder { /* Firefox 18- */
	color: #eeeeee !important;
	font-weight: 200;
}

input::-moz-placeholder {  /* Firefox 19+ */
	color: #eeeeee !important;
	font-weight: 200;
}

input:-ms-input-placeholder {
	color: #eeeeee !important;
	font-weight: 200;
}

input[type="signin"]
{
    background: transparent;
    border: none;
  	border-bottom: 1px solid white;
  	box-shadow: hidden;
  	color: black;

}

.form-results-heading{
	text-align: center;
	margin-bottom: 5%;
	margin-top: 5%;
	font-weight: 200;
	font-size:150%;
}

.form-results-dir{
	text-align: center;
	margin-bottom: 10%;
	margin-top: 10%;
	font-weight: 200;
	font-size:110%;
}

div.op{
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
	padding-left: 2%;
	border: 1px solid black;
}

h4.op{
	font-weight: 200;
	float:left;
	color: #eeeeee;
	font: bold;
	border-bottom: 1px dashed #eeeeee;
}

.promoted{
	font: italic bold 12px/30px Arial, serif;
	color: white;
	font-size: 100%;
	text-align: right;
	margin-right: 3%;

}

.op-check{
	float: right;
	margin-right: 2%;
}

p.op{
	font-weight: 200;
	color: #eeeeee;
	padding: none;
	margin-right: 10%;
}

.form-home-heading{
	font-weight: 200;
}

.form-home-label{
	font-weight: 200;
	text-align: center;
}

div.outings-list{
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
	margin-top: 2%;
	padding-left: 2%;
	border: 1px solid black;
	background-color: #f2f2f2(0.5, 0.5, 0.5, 0.5);
}

p.outings-list{
	font-weight: 200;
	color: #262626;
	padding: none;
}

h4.outings-list{
	font-weight: 200;
	float:left;
	color: #262626;
	font: bold;
	border-bottom: 1px dashed #eeeeee;
}


button[type="activity"]
{
    background: #eeeeee;
    border: none;
  	border-bottom: 1px solid white;
  	box-shadow: hidden;
  	color: black;
  	margin: none;
  	padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="password"]
{
    background: transparent;
    border: none;
  	border-bottom: 1px solid white;
  	box-shadow: hidden;
  	color: black;
}


label.activity{
	font-weight: 200;
}


p.deco{
	font-size: 90%;
	color: #eeeeee;
	font-weight: 200;
	text-align: right;
}

.form-waiting-logo{
	margin-top: 10%;
	margin-bottom: 5%;
}

.form-waiting-heading{
	text-align: center;
	margin: 15% 0% 10% 0%;
	font-weight: 200;
}

.form-waiting-message{
	text-align: center;
	margin: 10% 10% 10% 10%;
	font-weight: 200;
}

.waiting-icon{
	margin-top: 15%;
}

.form-waiting-heading em{
	color: #1a1a1a;
	font-weight: bold;
	font-size: 110%
}

.form-invite-heading{
	font-weight: 200;
	text-align: center;
	margin: 10% 0% 10% 0%;
}

input[type="invite"]
{
    background: transparent;
    border: none;
  	border-bottom: 1px solid white;
  	box-shadow: hidden;
  	color: black;
  	display: initial;
  	width: 150%;
}