html{
    width: 32%;
    height: 64%;
}

body.gradient{
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #7B00EE , #E46060);
}

table, td{
    text-align: center;
    margin: 75%;
}

img{
    padding: none;
}


h1 {
    position: relative;
	display: inline-block;
	height: inherit;
	width: inherit;
	margin: 0;
	padding: 0;
	text-align: center;
	color: white;
	font-weight: 500;
	font-family: Lobster;
	font-size: 300%;
}

h2 {
    border-radius: 30px;
    border: 2px solid gray;
    padding: none; 
    margin: 100%;
    width: 100%;
    height: 20%; 
    color: white;
    text-align:center;
    font-family: Arial;
    font-weight: 300;
    font-size: large;
}

h3{
    border: none;
    padding: 0px; 
    margin: 75%;
    width: 200px;
    height: 150px; 
    color: white;
    text-align:center;
    font-family: Arial;
    font-weight: 300;
}

h5{
    border-radius: 10px;
    border: 2px solid #E7E7E7;
    padding-top: none;
    padding-bottom: none;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: none;
    margin-bottom: none;
    margin-left: 15%;
    margin-right: 15%;
    text-align:center;
    width: 250%;
    height: 10%; 
    color: #E7E7E7;
    font-size: smaller;
    font-family: Arial;
    opacity: 0.70;
    font-weight: 200;
}