<!DOCTYPE html>
<html>
	<head>
	    <link type="text/css" rel="stylesheet" href="stylesheet.css" />
	    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
		<title>YuMu</title>
	</head>
	<body class="gradient">
		<table>
    		<td><h1>YuMu</h3></td>
    		<td><img src="/images/realcow.png" height= "50px" width="70px"></img></td>
    	</table>
		<h3>Sign up and start planning with your friends!</h3>
		<h5>First Name</h5>
		<h5>Last Name</h5>
		<h5>********</h5>
		<h5>Email</h5>
		<h5>Phone Number</h5>
		<h2>Get Started</h2>
	</body>
</html>