<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <title>YuMu | Create</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/yumu.css">
	<link rel="stylesheet" type="text/css" href="static/css/cus-icons.css">

	<!-- Lobster font import -->
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
	<!--formden.js communicates with FormDen server to validate fields and submit via AJAX -->
	<script type="text/javascript" src="https://formden.com/static/cdn/formden.js"></script>

	<!-- Special version of Bootstrap that is isolated to content wrapped in .bootstrap-iso -->
	<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

	<!--Font Awesome (added because you use icons in your prepend/append)-->
	<link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

	<!-- Inline CSS based on choices in "Settings" tab -->
	<style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}</style>


	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css"
        rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
        rel="stylesheet" type="text/css" />
    <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
        type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('#friends-list').multiselect({
                includeSelectAllOption: true
            });

        });
    </script>

	<div class="container">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<!-- add header -->
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<img alt="Brand" src="static/images/icon.png" height="130%" width="inherit">
				  	</a>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- menu items -->
				<div class="collapse navbar-collapse" id="navbar1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="home.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>   Home</a></li>
						<li><a href="create.html"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>   Create an Event</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>    My Profile</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<input type="event" value = "My Hangout" id="inputEvent" style = "font-weight: bold; color:white;" class="form-control" placeholder="Event Title" required autofocus>

		<h4 class="form-pref-ques" style = "color:white;">Who's Coming?</h4>

		<select id="friends-list" multiple="multiple">
			<option value="Adam">Adam</option>
			<option value="Ami">Ami</option>
			<option value="Amy">Amy</option>
			<option value="Bill">Bill</option>
			<option value="Brian L.">Brian L.</option>
			<option value="Brian D.">Brian D.</option>
			<option value="Harsh">Harsh</option>
			<option value="Jillian">Jillian</option>
			<option value="Maria">Maria</option>
			<option value="Max">Max</option>
			<option value="Nick">Nick</option>
			<option value="Plai">Plai</option>
			<option value="Adam">Adam</option>
    	</select>

		<h4 class="form-pref-ques" style = "color:white;">What day is the event happening?</h4>

		 <div class="container-fluid">
		  <div class="row">
		   <div class="col-md-6 col-sm-6 col-xs-12">
			<form action="https://formden.com/post/MlKtmY4x/" class="form-horizontal" method="post">
			 <div class="form-group ">
			  <label class="control-label col-sm-2 requiredField" for="date"></label>
			  <div class="col-sm-10">
			   <div class="input-group">
				<div class="input-group-addon">
				 <i class="fa fa-calendar">
				 </i>
				</div>
				<input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="datepicker"/>
			   </div>
			  </div>
			 </div>
			 <div class="form-group">
			  <div class="col-sm-10 col-sm-offset-2">
			   <input name="_honey" style="display:none" type="text"/>
			  </div>
			 </div>
			</form>
		   </div>
		  </div>
		 </div>


		<h4 class="form-pref-ques" style = "color:white;">When are responses due?</h4>

		<div class="container-fluid">
		  <div class="row">
		   <div class="col-md-6 col-sm-6 col-xs-12">
			<form action="https://formden.com/post/MlKtmY4x/" class="form-horizontal" method="post">
			 <div class="form-group ">
			  <label class="control-label col-sm-2 requiredField" for="deadline"></label>
			  <div class="col-sm-10">
			   <div class="input-group">
				<div class="input-group-addon">
				 <i class="fa fa-calendar">
				 </i>
				</div>
				<input class="form-control" id="deadline" name="date" placeholder="MM/DD/YYYY" type="deadlinepicker"/>
			   </div>
			  </div>
			 </div>
			 <div class="form-group">
			  <div class="col-sm-10 col-sm-offset-2">
			   <input name="_honey" style="display:none" type="text"/>
			  </div>
			 </div>
			</form>
		   </div>
		  </div>
		 </div>
		<a href="/pref1" id = "submit" class="btn btn-info btn-lg btn-primary btn-block" style ="background-color: #428bca;" role="button" >Indicate Preferences</a>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- Initialize the plugin: -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#example-getting-started').multiselect();
		});
	</script>

	<!-- Include Date Range Picker -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

	<script>
		$(document).ready(function(){
			var date_input=$('input[name="date"]'); //our date input has the name "date"
			var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
			date_input.datepicker({
				format: 'mm/dd/yyyy',
				container: container,
				todayHighlight: true,
				autoclose: true,
			})
		})
	</script>
	<script type= text/javascript>
		$("a#submit").click(function() {
			var multipleValues = $("#friends-list").val();
			var data = {};
			data.InvitedFriends = multipleValues;
            data.Date = document.getElementById("date").value;
			data.Deadline = document.getElementById("deadline").value;
			data.Title = document.getElementById("inputEvent").value;
		$.ajax({
			type: "POST",
			url: "/newevent",
			contentType: "application/json",
			data: JSON.stringify(data),
			success: function(data){
				var res = data['name']
				$('.container').html(res)},
			error: function(data){
				$('#result').html('I failed')
			}
		})
		})
	</script>
  </body>
</html>
