<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>YuMu | Preferences</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/yumu.css">
	<link rel="stylesheet" type="text/css" href="css/cus-icons.css">
	
	<!-- Lobster font import -->
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

	<div class="container">

		<h3 class="form-pref-heading">What do you want to do?</h3>
	
		<h4 class="form-pref-ques">How much would you like to spend?</h4>
		<label for="inputMax" class="sr-only">Max</label>
		<input type="max-cash" id="inputMaxCash" class="form-control" placeholder="Max $ to spend" required autofocus>
	
		<h4 class="form-pref-ques">Time?</h4>
	
		<div class="dropdown">
  			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Start Time<span class="caret"></span></button>
  			<ul class="dropdown-menu">
    			<li><a href="#">2:00</a></li>
    			<li><a href="#">3:00</a></li>
    			<li><a href="#">4:00</a></li>
  			</ul>
		</div>
		<div class="dropdown">
  			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">End Time<span class="caret"></span></button>
  			<ul class="dropdown-menu">
    			<li><a href="#">2:00</a></li>
    			<li><a href="#">3:00</a></li>
    			<li><a href="#">4:00</a></li>
  			</ul>
		</div>
		
		
		<input type="submit" class="btn btn-info btn-lg btn-primary btn-block" value="Meet Up">
	
    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
